<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.serviceModel>
		<services>
			<service name="TaskService.GitHelper" behaviorConfiguration="TaskServiceBehavior">
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:9000/TaskService/service" />
					</baseAddresses>
				</host>
				<endpoint  address="" binding="netTcpBinding"  contract="TaskService.IGitHelper" />
				<endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="TaskServiceBehavior">
					<serviceMetadata httpGetEnabled="false" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
</configuration>