<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <!--<binding name="NetTcpBinding_IGitHelper">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>-->
                <binding name="NetTcpBinding_ITaskHelper">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <!--<endpoint address="net.tcp://localhost:9000/TaskService/service"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IGitHelper"
                contract="TaskServiceReference.IGitHelper" name="NetTcpBinding_IGitHelper">
                <identity>
                    <userPrincipalName value="DESKTOP-S40AS1C\Альберт" />
                </identity>
            </endpoint>-->
            <endpoint address="net.tcp://localhost:9000/WinSvc/service" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_ITaskHelper" contract="WinSvcReference.ITaskHelper"
                name="NetTcpBinding_ITaskHelper">
                <identity>
                    <servicePrincipalName value="host/DESKTOP-S40AS1C" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>